#container{
    width : 800px;
    border : 1px solid grey;
    /* height : auto; */
    margin : 0 auto;
}

#header{
    height : 100px;
    padding : 10px 0;
}

h1 a{
    font-size : 48px;
    font-weight : 100;
    text-decoration : none;
    color : #fe06fa;
}

#brand{
    float : left;
    height : auto;
}

#searchBox{
    float : right;
    background : linear-gradient(#1ec903, #75fa07);
    width : 400px;
    height : 50px;
    margin-top : 20px;
}

.text{
    float : left;
    width : 200px;
    padding : 5px;
    font-size : 15px;
    color : #f70000;
    margin-left : 10px;
    margin-top : 10px;
    background : white url(images/Search.png) right center no-repeat;
}

.submit{
    float : right;
    padding : 5px;
    font-weight : bold;
    color : white;
    background-color : #fe07f8;
    font-size : 15px;
    padding : 5px 20px 5px 20px;
    margin-top : 10px;
}

.clear{
    clear : both;
}